<div class="jumbotron text-center">
    <h2>Faça seu login</h2>
    <form method="post">
        <label for="login">Nome ou Gmail</label>
        <input type="text" id="login" name="login"/>
        <label for="password">Senha</label>
        <input type="password" id="password" name="password"/>
        <input type="submit" name="acao" value="signin"/>
    </form>
</div>