<div class="jumbotron text-center">
    <h2>Faça seu cadastro</h2>
    <form method="post">
        <label for="name" >Nome</label>
        <input type="text" id="name" name="name" placeholder="Fulano da Silva"/>
        <label for="gmail" >Gmail</label>
        <input type="gmail" id="gmail" name="gmail" placeholder="Gmail"/>
        <label for="password" >Senha</label>
        <input type="password" id="password" name="password"/>
        <input type="submit" name="acao" value="signup"/>
    </form>
</div>